# Build subdirectories.
/*build*
!/build-aux
!/build_msvc

*.pyc

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

/CMakeUserPresets.json

# Previous releases
/releases

# Rust build directory
/target

/guix-build-*

/ci/scratch/

# ignore so users can symlink `contrib/justfile` into root
/justfile

# generated mdbook output and build
/contrib/book/build/book
/contrib/book/build/src
